:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  /* text-align: center; */
}


body{
  display: flex;
  justify-content: center;
}


.all-star-qualification{
  /* background-color: aquamarine; */
  display: flex;
}

.star-qualification{
  font-size: 30px;
  /* background-color: yellow; */
  /* background-color: aqua; */
}

.star{
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-bottom: 60px solid red;
  border-left: 90px solid transparent;
  transform: rotate(35deg);
}

.star::before{
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  /* color: red; */
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-bottom: 60px solid red;
  border-left: 90px solid transparent;
  transform: rotate(-70deg);
  content: '';
}