:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  /* text-align: center; */
}

* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;

}


.all-star-qualification{
  /* background-color: aquamarine; */
  display: flex;
}

.star-qualification{
  font-size: 30px;
  /* background-color: yellow; */
  color: yellow;
  /* background-color: aqua; */
}



.star {
  width: 30px;  
  aspect-ratio: 1;
  background: #565655;
  
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container-star-calculate{
  display: flex;
}

.color{
  background: #F8CA00;
}



.star-half{
  position: relative;
  width: 30px;
  height: 30px;
}

.star-half::before,
.star-half::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.star-half::before {
  clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: #F8CA00;
}

.star-half::after {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%);
  background: #565655;
}














/* .star:hover{
  background: #F8CA00;
} */





/* .star{
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-bottom: 60px solid red;
  border-left: 90px solid transparent;
  transform: rotate(35deg);
}

.star::before{
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 90px solid transparent;
  border-bottom: 60px solid red;
  border-left: 90px solid transparent;
  transform: rotate(-70deg);
  content: '';
} */





/* ESTILOS DE LA CARTA DE PRODUCTOS  */
.content-card{
  margin: 0 20px;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.card-products{
  margin: 10px 10px;
  background-color: black;
  padding: 10px; 
  border-radius: 10px;

  width: 350px;
}








.navbar{
  display: flex;
  background-color: rgb(25, 153, 228);
  color: white;
  justify-content: space-between;
  align-items: center;

  top: 0; 
  position: sticky;

  padding: 10px 30px;
  z-index: 1;
}


.title-navbar{
  font-weight: 100;

}


/* USUARIOS  */
.content-user-system{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/* .all-users-system{ */
  /* top: 0; */
  /* background-color: aquamarine; */
/* } */

.content-title-dinamic{
  cursor: pointer;
}

.content-users{
  padding: 12px;
  position: absolute;
  right: 10px;
  background-color: rgb(25, 27, 27);
}

.content-user-activate{
  display: none;
}

.row-users{
  /* background-color: aquamarine; */
  padding: 5px 0;
  border-top: #ffffff solid 1px;
  cursor: pointer;
}


/* SISTEMA DE ALERTA  */


.container-alert{
  position: fixed;
  background-color: rgba(60, 60, 60, 0.47);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.window-alert{
  position: fixed;
  background-color: rgb(70, 67, 67);
  border-radius: 3px;
  padding: 15px;
  
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.not-see-window-aler{
  display: none;
}

